Cohen451Final/Service References/ServiceReference1/ProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProductService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProductService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductSer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductSer" nillable="true" type="tns:ProductSer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductSer" nillable="true" type="tns:ArrayOfProductSer" />
  <xs:complexType name="ProductSer">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductSer" nillable="true" type="tns:ProductSer" />
</xs:schema>