Cohen451Final/Service References/ServiceReference1/ProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55408/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProductService" />
  <xs:element name="ReturnProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProductService" minOccurs="0" name="ReturnProductsResult" nillable="true" type="q1:ArrayOfProductSer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>